{% extends "/layout_home.html" %}

{% block styles %}
{% endblock %}

{% block body %}

<table width="80%" align="center" height="50px" border="0" cellpadding="10">
	<tr>
		<td align="left" valign="center" width="50%">
			<a href="/bof1"><img src="/static/img/thebook.png" alt="dossier" width="400" padding="20"></a>
		</td>
		<td align="center" valign="center" width="50%">
			<a href="/list"><img src="/static/img/dossier.png" alt="logo" width="400" padding="20"></a>
		</td>
	</tr>
</table>

{% endblock %}