<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/static/img/bunnyfavicon2.ico">
		<style>
			a:link {text-decoration:none;}
			a:visited {text-decoration:none;}
			a:hover {text-decoration:none;}
			a:active {text-decoration:none;}
			p { color:white; font-family: "Helvetica", sans-serif; }
			h1 { color:white; font-family: "Helvetica", sans-serif; }

			.floated_img
			{
				float: left;
				padding: 10px;
			}
		</style>
		{% block styles %}{% endblock %}
	
	</head>
	<body style =" background-color:#666666;">
		{% block body %}

		{% endblock %}

	</body>
	
</html>